@import "../partial/base";

header {
	// background: rgba(88, 107, 164, .9);
}

.site-intro {
	height: 100vh;
	width: 100%;
	background: url("../img/background.jpg") center bottom no-repeat;
	background-size: cover;

	h1 {
		margin: 0;
		font: 700 2.4rem 'Teko', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		text-align: center;
		@include text-shadow(3px 3px 5px rgba(0,0,0,.8));
		color: white;

		@media (min-width: 768px) {
			font-size: 5rem;
		}

		@media (min-width: 992px) {
		    font-size: 9rem;
		}
	}
}

/* Footer */
footer {
	@include display-flex(flex);
	@include justify-content(space-around);
	@include align-items(center);
	min-height: 50px;
	background: rgba(0,0,255,.3);
	@include box-shadow(0 -4px 17px 1px rgba(0,0,0,.2));

	.copyright {
		p {
			font: normal 1.4rem 'Teko', Helvetica, Arial, sans-serif;
			margin: 0;
			color: white;
		}
	}

	.social {
		a {
			font-size: 2rem;
			padding: 0 0.5em;
			@include transition(all 0.3s ease-in-out);

			i {
				&:hover {
					@include transform(scale(1.5));
					color: #000;
				}
			}
		}
	}
}
